201 status code only set if self link present

 - [X ] I was not able to find an [open](https://github.com/zfcampus/zf-rest/issues?q=is%3Aopen) or [closed](https://github.com/zfcampus/zf-rest/issues?q=is%3Aclosed) issue matching what I'm seeing.
 - [X ] This is not a question. (Questions should be asked on [chat](https://zendframework.slack.com/) ([Signup here](https://zendframework-slack.herokuapp.com/)) or our [forums](https://discourse.zendframework.com/).)

When creating an entity, a response status code of 201 only gets set if the entity has a self link. 

Disabling self links causes POST requests to return a 200 status code, even though an entity is still created.

RestController.php
```php
if ($halEntity->getLinks()->has('self')) {
    $plugin = $this->plugin('Hal');
    $link = $halEntity->getLinks()->get('self');
    $self = $plugin->fromLink($link);
    $url = $self['href'];
    $response = $this->getResponse();
    $response->setStatusCode(201);
    $response->getHeaders()->addHeaderLine('Location', $url);
    $response->getHeaders()->addHeaderLine('Content-Location', $url);
}
```

### Code to reproduce the issue
disable self links on any endpoint

```php
'force_self_link' => false,
```
### Expected results
An entity has been created, so a status code of 201 should be returned

### Actual results
A status code of 200 is returned


This is correct behavior. Per section 7.2 of RFC 7231, which defines the 201 status code:

> The primary resource created by the request is identified by either a Location header field in the response or, if no Location field is received, by the effective request URI.

Since we cannot determine the final URI in this situation, we cannot return a 201 status, and instead return a 200 indicating that we were able to process the request without problem.